.alt-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 40px;
  align-items: center;
}
.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
