.landscape-preventer {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  z-index: 90;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 32px;
}

@media screen and (max-width: 730px) {
  .landscape-preventer {
    display: none;
  }
} ;
